    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
        </div>
        
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            <% current_admin_user.testimonial.each do |ser| %>

            <div class="swiper-slide">
              <div class="testimonial-item">
              <%# debugger %>
                <%# <img src="MyResume/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt=""> %>
                <%= image_tag url_for(ser.image), class:"testimonial-img" %>
                <h3><%= ser.name %></h3>
                <h4><%= ser.role %></h4>      
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    <%= ser.quote %>
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
            <% end %>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>